body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../photos/wallpaper.jpg');
}

h1 {
    color: #333;
    text-align: center;
}

.contenidor {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.boto {
    text-align: right;
    margin: 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}

.logincuadre {
    margin-top: 50px;
    text-align: center;
    border: 5px solid #333;
    border-radius: 0.25cm;
    background-color:#333;
    width: 700px;
    height: 750px;
}

.input {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    border-radius: 0.25cm;
    width: 600px;
}
.boto_enviar {
    background-color: #FDDE14;
    border: none;
    font-size: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.boto_header {
    background-color: #FDDE14;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

/* Contenedor para alinear los formularios en horizontal */
.form-container {
    text-align: center;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre los formularios */
    margin-top: 100px;
    margin-left: 250px;
}